.login-main{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content{
	min-width: 320px;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.phone-inp{
	height: 35px;
	background-color: #F2F2F2;
	text-indent: 10px;
	border: none;
	color: #DC2C1F;
	border-radius: 20px;
	margin: 0 20px 0 20px;
}
.code-inp{
	flex: 5;
	height: 35px;
	background-color: #F2F2F2;
	text-indent: 10px;
	border: none;
	color: #DC2C1F;
	border-radius: 20px;
}
.code-button{
	flex: 3;
	height: 35px;
	background-color: #DC2C1F;
	border-radius: 20px;
	color: white;
	line-height: 35px;
	font-size: 14px;
}
.code-area{
	display: flex;
	padding: 0 20px 0 20px;
	margin-top: 10px;
	height: 35px;
}
.login-button{
	height: 35px;
	line-height: 35px;
	background-color: #DC2C1F;
	color: white;
	border-radius: 999px;
	margin: 10px 20px 0 20px;
	transition: linear 0.1s;
}
.login-button:active{
	background-color: #DC2C1F;
	color: white;
	border-radius: 999px;
	margin: 9px 20px 0 20px;
	box-shadow: 2px 2px 5px 1px #DC2C1F;
}